@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital@1&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.nav-container {
    height: 100px;
    background: black;
    color: white;
}

.nav-bar {
    display: flex;
}

.nav-logo {
    width: 80vw;
    margin: 25px 0px 0px 130px;
}

nav {
    width: 1886px;
    text-align: center;
    margin: 25px 0px 0px 0px;
    font-family: 'Noto Sans Display', sans-serif;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
}

nav ul li {
    list-style: none;
    padding: 10px 10px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(250, 250, 250);
}


/* li-type-btn */

nav ul #btn {
    margin-left: 166px;
    border: 2px solid #FFCC1D;
    padding: 10px 15px;
    border-radius: 5px;
    color: white;
    font-family: 'Noto Sans Display', sans-serif;
}

.toggler {
    display: none;
}


/* main-section */

header {
    overflow: scroll;
    background: black;
    color: white;
    padding: 80px 50px;
    overflow: hidden;
}

.main-heading {
    width: 40vw;
    margin-left: 80px;
}

.main-heading h1 {
    font-family: 'Noto Sans Display', sans-serif;
}

.logos {
    display: flex;
    margin: 100px 65px;
    width: 102%;
}

.logos h1 {
    padding: 30px 123px 68px 0px;
}


/* image-container */

.img-container {
    display: flex;
    margin-left: 99px;
    flex-wrap: wrap;
    font-family: 'Noto Sans Display', sans-serif;
    overflow: hidden;
}

.img-container .img-1,
.img-2 {
    width: 629px;
}

.img-container .img-1 h1,
.img-2 h1 {
    padding: 35px 10px;
}

.img-container .img-1 h1 i,
.img-2 h1 i {
    margin-left: 10px;
}

.img-container div {
    padding: 10px 50px;
}


/* section */

section {
    display: flex;
    margin: 80px 40px 0px 0px;
    background: #535355;
    overflow: hidden;
    flex-wrap: wrap;
}

section .first,
.second {
    width: 629px;
}

.near-footer {
    background: none;
    display: flex;
    flex-direction: column;
    width: 500px;
}

.near-footer button {
    background: black;
    border: 2px solid #FFCC1D;
    padding: 10px 15px;
    border-radius: 5px;
    color: white;
    margin: 10px 0px;
    font-family: 'Noto Sans Display', sans-serif;
}


/* footer */

footer {
    height: 30px;
    width: 100%;
    background: #535355;
    color: white;
    margin: 0px;
    font-size: 0.8rem;
    padding: 5px 7px;
    display: flex;
}

footer .icons {
    position: absolute;
    right: 0px;
    margin: 5px 17px;
    font-size: 1rem;
}


/* media_queries */

@media only screen and (min-width:200px) and (max-width:700px) {
    nav {
        text-align: center;
        margin-right: 0px;
        box-shadow: -10px 15px 18px #888888;
        display: none;
    }
    .nav-logo {
        font-size: 9px;
        margin: 35px 33px 0px 98px;
    }
    .toggler {
        display: block;
        margin: 30px 0px 0px -100px;
    }
    nav ul {
        display: block;
    }
    .logos {
        flex-wrap: nowrap;
        margin-left: 90px;
        display: block;
    }
    .main-heading {
        font-size: 8px;
        display: block;
        text-align: center;
        width: 185px;
        margin: 0px auto;
    }
    .img-container {
        margin: 0px;
        overflow: hidden;
    }
    .img-container .img-1,
    .img-2 {
        width: 342px;
    }
    .img-container .img-1,
    .img-2 h1 {
        padding: 35px 0px;
    }
    .img-container .img-2 img {
        height: 172px;
        margin-left: -71px;
    }
    .img-container .img-2 h1 p {
        margin-left: -53px;
    }
}

@media only screen and (min-width:700px) and (max-width:1000px) {
    .nav-container {
        height: 50px;
        padding: 10px 5px 78px 0px;
    }
    .nav-logo {
        margin: 10px;
        flex-wrap: nowrap;
    }
    nav {
        display: none;
    }
    .toggler {
        display: block;
        margin: 23px 0px 0px 25px;
    }
    .nav-logo {
        margin: 10px 90px 0px 0px;
    }
    .logos {
        flex-wrap: wrap;
    }
}

@media only screen and (min-width:1000px) and (max-width:1414px) {
    nav ul li {
        padding: 10px 5px;
    }
    .nav-logo {
        margin-right: 93px;
    }
    nav ul #btn {
        margin-left: 63px;
    }
    .logos {
        flex-wrap: wrap;
        margin-left: 166px;
    }
}